<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.dataTables.min.css' />
    <link rel='stylesheet' href='/stylesheets/dataTables.bootstrap4.min.css' />

    <script src="/javascripts/jquery-3.5.0.min.js"></script>
    <script src="/javascripts/jquery.dataTables.min.js"></script>
</head>