
body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.barnav {
  width: 100%;
}

#nav {
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  padding: 0;
  margin: 0;
}

#nav a:link, #nav a:visited {
  color: #000;
  background: #b2b580;
}

.progressbarre {
  font: 9px "Arial";
  background: rgba(255, 255, 255, .1);
  margin-bottom: 15px;
}
table#tabclassement.dataTable tbody tr:hover {
  background-color: #3fc3a7;
}

table#tabclassement..dataTable tbody tr:hover > .sorting_1 {
  background-color: #3fc3a7;
}

.table.dataTable {
  width: 500px;
  margin-top:-50px;
  margin-left:50px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #caafe4;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0 -325px 0px 0px;
}

.page-item.active .page-link {
  background-color: lightgrey !important;
  border: 1px solid black;
}
.page-link {
  color: black !important;
}

.container {
  margin-left: 5px;
}

.separator {
  width: 20%;
}

.rightblock {
  float:right;
  width: 2%;
}

.leftblock {
  float:left;
  width: 79%;
}

.square {
    padding-top: 15px;
    width: 130px;
    height: 130px;
    margin-left: 2px;
    margin-top: 2px;
    background: blueviolet;
}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 100px;
    height: 100px;
    /*border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  .flip-action {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 10;
    transform: rotateY(180deg);
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    background-image: url("../images/bgcard.png");
  } 

  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    width: 885px;
    border: 1px solid red;
    background-image: none;
    background-color: white !important; 
  }
  
  progress::-webkit-progress-value {
    background: red;
  }

  progress::-moz-progress-bar {
    background-color: red !important;
  }
  
  progress::-webkit-progress-bar {
    background: white;
  }
  