<h1>{{title}}</h1>
<p>Ce petit serveur propose l'accès au jeu du Memory.</p>

<h2> Documentation partie cliente</h2>
<br/>
<img src="images/docihm.png" />
<h4>Ressources :  <a href="https://bost.ocks.org/mike/shuffle/">Algorithme de Fisher-Yates</a></h4>
<!--ul>
    <li> <h3> Page du jeux : </h3>
        <ul>
            <li>HTML5 : la structure est en HTML intégré dans un template Handlebars pour affichage données du classement</li>
            <li>CSS3 : Dans la mesure de mes connaissances, j'ai intégré Bootstrap pour la grille du jeux</li>
            <li>JS : Ecrit en grande partir en JavaScript Vanilla ES5. Utilisation de JQuery pour le tableau du classement (Datatable)</li>
        </ul>
    </li>
    <li> <h3> Technologie Back-End : </h3>
        <ul>
            <li>Le moteur d'exécution est Node JS V v12.18.4</li>
            <li>La base de données est une MongoDB : mongodb version v3.6.9</li>
            <li>Côté serveur les accès à la base de données sont gérés par un framework nommé <a href="https://www.github.com/Stephanux/Minismall">"MiniSmall"</a><br/>
                <img src="https://raw.githubusercontent.com/Stephanux/MiniSmall/main/docs/architecture_schema.jpg" />
            </li>
        </ul>
    </li>
</ul-->