<h1>{{title}}</h1>
<p>Ce petit serveur propose l'accès au jeu du Memory.</p>

<h2> Technologies utilisées</h2>
<ul>
    <li> <h3> Page du jeux : </h3>
        <ul>
            <li>HTML5 : la structure est en HTML intégrée dans un template Handlebars pour affichage des données du classement</li>
            <li>CSS3 : Dans la mesure de mes connaissances, j'ai intégré Bootstrap pour la grille du jeux et les rotations des cartes</li>
            <li>JS : Ecrit en grande partir en JavaScript Vanilla ES5. Utilisation de JQuery pour le tableau du classement (Datatable)</li>
        </ul>
    </li>
    <li> <h3> Technologie Back-End : </h3>
        <ul>
            <li>Le moteur d'exécution est Node JS v12.18.4</li>
            <li>La base de données est une MongoDB : mongodb version v3.6.9</li>
            <li>Côté serveur les accès à la base de données sont gérés par un framework <br/>
            que j'ai écrit dans le cadre de cours pour le Greta CFA Aquitaine. J'ai appelé ce framework : <a href="https://www.github.com/Stephanux/Minismall">"MiniSmall"</a><br/>
            <br/> Voici un schéma de son architecture et des éléments importants à connaître pour l'utiliser.
                <img src="https://raw.githubusercontent.com/Stephanux/MiniSmall/main/docs/architecture_schema.jpg" alt="schéma architecture framework miniSmall"/>
            </li>
        </ul>
    </li>
    <li> <h3> Installation de l'application Memory</h3>
        <ol>
            <li>installez sur votre ordinateur : <a href="https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubuntu-18-04-fr" target="_new" >NodeJS V12</a> (via NVM) <a href="https://www.digitalocean.com/community/tutorials/how-to-install-mongodb-on-ubuntu-18-04" target="_new" >Mongodb 3.6.9</a></li> 
            <li>Clonez le projet github : <a href="https://www.github.com/Stephanux/memoryfs.git" target="_new">https://www.github.com/Stephanux/memoryfs.git</a>, puis placez vous dans le dossier <b>"serveur"</b> et faite un <b>"npm install"</b> pour charger les dépendances et créer le dossier <b>"node_modules"</b></li> 
            <li>Vérifiez si MongoDB est active via la commande <pre>$ systemclt status mongod.service</pre>Si vous l'avez installé via <pre>apt install mongodb</pre></li>
            <li>Enfin exécutez l'application en vous plaçant dans le dossier <b>"serveur"</b> et faites :</li><pre>$ npm start</pre> ou <pre>node ./bin/www</pre>
            Bonne installation... et bonne lecture ;-)<br/>
        </ol>
    </li>
</ul>
